<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body class="home">
    <div>
      <header>
        <h1>{{ title }}</h1>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>

    <script src="{{ '/assets/scripts/text.js' | url }}" defer></script>
  </body>
</html>