<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "partials/preloads.njk" %}

    {# Only load the code snippet if the post says so #}
    {% if code_snippet %}
      {% include "meta/prism.njk" %}
    {% endif %}

    {% set css %}
      {% include "styles/main.css" %}
    {% endset %}
    <style>
      {{ css | safe }}
    </style>

    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      {% include "partials/navigation.html" %}
    </header>

    {{ content | safe }}
  </body>
</html>