<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Only load the code snippet if the post says so #}
    {% if code_snippet %}
      {% include "meta/prism.njk" %}
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      {% include "partials/navigation.html" %}
    </header>
    {{ content | safe }}
  </body>
</html>