@font-face {
  font-family: 'blocktopiamedium';
  src: url('blocktopia-webfont.woff2') format('woff2'),
       url('blocktopia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}