@import '_properties.css';
@import '_fonts.css';

* {
  font-family: 'blocktopiamedium', monospace;
  font-size: clamp(1.1em, 5vw, 1.8rem);
  color: var(--main-colour);
}

body {
  background-color: var(--background-colour);
}