@import '_properties.css';
@import '_fonts.css';

* {
  font-family: 'blocktopiamedium', monospace;
  font-size: clamp(1.1em, 5vw, 1.8rem);
  color: var(--main-colour);
}

body {
  background-color: var(--background-colour);
  width: clamp(850px, 80vw, 90%);
  margin: 0 auto;
}

body.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

body.home > div {
  width: 50%;
}

body.home h1 {
  text-align: center;
}

body.home ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body.home li {
  list-style: none;
}