@import '_properties.css';
@import '_fonts.css';

* {
  font-family: 'blocktopiamedium', monospace;
  font-size: 2rem;
  color: var(--main-colour);
}

body {
  background-color: var(--background-colour);
}